body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 !important;
  padding: 0 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.imgNextToText {
  border:1px solid black;
  float: right;
  position: absolute;
  margin-left: 400px;
  margin-top: -125px;
}

.weatherIcon {
  border:none;
  float: right;
  position: absolute;
  margin-top: -15px;
}

.header {
  background-color: #C9C9C9;
  margin-top: 0;
  font-size: 5em;
}

.body {
  margin-left: 1em;
  font-size: 1.5em;
}

.highlight {
  background-color: rgb(255, 236, 185);
}

.countryButton {
  display: table;
  padding: 5px;
  padding-left:8px;
  padding-right: 8px;
  cursor: pointer;
}

.countryButton:hover {
  background-color: #bbbbbb;
}