body {
    margin: 0;
    min-height: calc(100vh - 100px);
}

.main {
    margin: 50px;
}

.login {
    min-width: 20vw;
    color: black;
}
.login label, input {
    margin: 5px;
}
.login form {
    border: 1px solid black;
    background-color: white;
    padding: 10px;
}

.footer {
    background-color: black;
    padding: 25px;
    color: white;
    bottom: 0;
    left: 0;
    right: 0;
    position:relative;
}

.header {
    background-color: black;
    padding: 25px;
    color: white;
    top: 0;
    left: 0;
    right: 0;
    position: relative;
}

.headerMain {
    border: 10px dotted rgb(255, 185, 44);
    padding: 5px;
    width: fit-content;
}

.errMsg {
    background: rgb(255, 77, 77);
}
.successMsg {
    background-color: rgb(78, 223, 45);
}

.hidden {
    visibility: hidden !important;
}

.noDisplay {
    display: none !important;
}

.headerSideButtons {
    right: 0;
    display: inline;
    position:sticky;
    margin-right: 50px;
    display: inline;
    vertical-align: middle;
    float: right;
}

.headerSideButtons span {
    padding: 2vw;
}

.headerH1 {
    display: inline;
}
.loginFormButtonShow {
    margin-left: 150vw;
}

.loginMain {
    text-align: center;
    padding: 2vw;
    margin: 2vh;
    border: 2px solid black;
    width: fit-content;
    box-sizing: content-box;
}

.addBlogForm {
    display: inline;
}
.addBlogForm p {
    padding: 0;
    margin: 0;
}
.addBlogForm span {
    display: block;
}

.blogListItemContainer {
    display:flex;
    width: fit-content;
    padding: 15px;
    padding-right: 15vw;
}

.blogListItemContainer span {
    padding: 5px;
}

.invisible {
    opacity: 0;
}
.transparent {
    opacity: 0.1;
}